<!-- You can now use your library component in app.component.html -->
<ngx-slick-carousel #slick class="carousel" #slickModal="slick-carousel" 
   [config]="slideConfig" (init)="slickInit($event)"
   (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
   (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides;let i=index" class="slide">
    <img [src]="slides[index].img" alt="" width="100%">
  </div>
</ngx-slick-carousel>
<div class="wrapper-img">
  <div (click)="changeImage($event)" class="wrapper-circle" [attr.id]="i"
  [ngStyle]="{'background-color': index === i ? 'black':'gray'}" 
  *ngFor="let slide of slides;let i=index"></div>
</div>

<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->